@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.gap{
    gap: 30px;
}
/* header-section */
.header-sect{
    padding: 15px 0;
    background-color: #fff3e4;
}

.header-sect h1{
    font-family: "Poppins", sans-serif;
    color: #113C49;
    font-size: 30px;
    font-weight: 700;
}

.logo h1{
    position: relative;
    z-index: 1;
}

.logo img{
    position: absolute;
    content: "";
    left: 285px;
    top: 10px;
    width: 60px;
    height: 60px;
}

.navmenu ul li{
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: #252641;
    font-size: 20px;
    font-weight: 400
}

.login-btn{
    border: none;
    padding: 6px 30px;
    background-color: white;
    border-radius: 50px;
    color: #6C6C6C;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.sign-up-btn{
    border: none;
    padding: 6px 30px;
    background-color: #F48C06;
    border-radius: 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* hero-section */
.hero-sect{
    background-color: #fff3e4;
    width: 100%;
    padding: 60px 0 60px 0;
    position: relative;
}

.hero-sect h1 span{
    color: #F48C06;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.hero-sect h1{
    color: #2F327D;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.hero-sect p{
    color: #464646;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.join-btn{
    padding: 10px 28px 12px 28px;
    background-color: #F48C06;
    color: white;
    border: none;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.video i{
    font-size: 35px;
    margin-inline-end: 15px;
}

.video span{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.hero-sect img{
    width: 100%;
    padding-block-end: 30px;
    /* position: absolute;
    content: "";
    top: 0; */
}

.hero-content{
    padding-block-start: 190px;
}

/* marquee-section */
.marquee-sect{
    padding: 50px 0;
}

.marquee-sect h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #696984;
}

marquee{
    margin-block-start: 20px;
}

/* services-section */
.services-sect{
    padding: 70px 0;
}

.services-sect h2{
    color: #2F327D;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.services-sect span{
    color: #F48C06;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.services-sect p{
    color: #696984;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.service-item{
    padding: 40px 40px;
    border-radius: 10px;
    position: relative;
}

.icon{
    background-color: #5B72EE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    right: 42%;
}

.icon img{
    height: 35px;
}

.service-item h4{
    color: #2F327D;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-block: 20px;
    line-height: 30px;
}

.service-item p{
    color: #696984;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.orange{
    background-color: #F48C06;
}

.blue{
    background-color: #29B9E7;
}

/* about-us-section */
.about-us-sect{
    padding: 70px 0 0;
}

.about-us-sect h2{
    color: #2F327D;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.about-us-sect span{
    color: #F48C06;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.about-us-sect p{
    color: #696984;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.for-instructor-img{
    background-image: url(../images/Group\ 22.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.for-students-img{
    background-image: url(../images/Rectangle\ 21.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-title h2{
    color: #2F327D;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-block-start: 60px;
}

.sub-title span{
    color: #F48C06;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.subtitle-img img{
    width: 100%;
    margin-block-start: 60px;
}

.class-btn{
    padding: 10px 15px;
    border-radius: 50px;
    outline: none;
    border: 1px solid white;
    background: none;
    color: white;
}

.class-btn:hover{
    background-color: #22acd9;
}

.button-img{
    position: absolute;
    content: "";
    top: 55%;
    right: 36%;
}

/* features-section */
.features-sect{
    padding: 70px 0 0;
}

.features-sect h2{
    color: #2F327D;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.features-sect span{
    color: #F48C06;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.features-sect p{
    color: #696984;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.feature-img img{
    height: 400px;
    width: 645px;
}

ul li{
    list-style: none;
    margin-block: 20px;
}

.icon-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.features-subcontent ul li p{
    margin-inline-start: 25px;
}

.features-1{
    padding-block-start: 250px;
}

.features-2{
    padding-block-start: 150px;
}

.features-3{
    padding-block-start: 220px;
}

.feature-btn{
    padding: 10px 28px 12px 28px;
    border-radius: 50px;
    background-color: white;
    color: #F48C06;
    border: 1px solid #F48C06;
}

/* integration section */
.integration-sect{
    padding: 70px 0;
}

.integration-sect h2{
    color: #2F327D;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.integration-sect span{
    color: #F48C06;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.integration-sect p{
    color: #696984;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin-block: 30px;
    font-size: 20px;
}

.integration-sect h5{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #525596;
    margin-block-end: 30px;
    padding-inline-start: 60px;
}

.integration-after{
    position: relative;
}

.integration-after::before{
    width: 40px;
    height: 1px;
    background-color: #525596;
    position: absolute;
    content: "";
    top: 10px;
    left: 3px;
}

/* testimonial-section */
.testimony-sect{
    padding: 70px 0;
}

.testimony-sect h2{
    color: #2F327D;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.testimony-sect ul li{
    color: #696984;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin-block: 30px;
    font-size: 20px;
}

.testimony-sect h5{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #525596;
    margin-block-end: 30px;
    padding-inline-start: 60px;
}

.integration-after-1{
    position: relative;
}

.integration-after-1::before{
    width: 40px;
    height: 1px;
    background-color: #525596;
    position: absolute;
    content: "";
    top: 10px;
    left: 3px;
}

.testimony-img img{
    width: 525px;
    height: 525px;
    position: relative;
}

.suggestion{
    background-color: #fff;
    padding: 20px;
    width: 80%;
    right: 0px;
    border-left: 4px solid #F67766;
    position: absolute;
    content: "";
    bottom: -60px;
    font-size: 22px;
    border-radius: 10px;
}

.suggestion p{
    border-left: 1px solid #5F5F7E;
    margin-inline-start: 10px;
}

.suggestion h4{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: #5F5F7E;
    margin-inline-start: 10px;
}

.star i{
   color: #F48C06;
}

.review{
    color: #80819A;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-left: none !important;
    margin: 0 !important;
}

/* latest-news-section */
.latest-news-sect{
    padding: 70px 0;
}

.latest-news-sect h2{
    color: #2F327D;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.latest-news-sect p{
    color: #696984;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.badge-pill{
    background-color: #F4C467 !important;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 30px;
}

.latest-news-sect h4{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #252641;
    margin-block-start: 30px;
}

.latest-news-sect p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #696984;
    margin-block-start: 20px;
}

/* footer-section */
.footer-sect{
    padding: 40px 0;
    background-color: #252641;
}

.footer-sect h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-inline-start: 10px;
    position: relative;
}

.footer-sect h4::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 50px;
    background-color: #626381;
}

.logo{
    margin-inline-start: 420px;
    color: white;
}

.footer-sect p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.footer-sect p{
    position: relative;
}
.footer-sect p::before{
    position: absolute;
    content: "";
    height: 60px;
    width: 2px;
    background-color: #626381;
    top: 30px;
    left: -40px;
}

.footer-sect h5{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.mail-form{
    outline: none;
    border: 1px solid #83839A;
    border-radius: 50px;
    background-color: #252641;
    padding: 10px 20px;
}

.btn-subs{
    padding: 12px 40px;
    border-radius: 50px;
    background: linear-gradient(105.5deg, #545AE7 19.57%, #393FCF 78.85%);
    border: none;
}
.full{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin-block-start: 116px;
}